<pq-main-menu></pq-main-menu>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="leaderboardAd">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- PaperQuik Leaderboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8376642740439271"
             data-ad-slot="6535942993"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h1>About</h1>

      <h2>Open Source</h2>
      <p>
        All of the code for this website is open source and available here:
        <a href="https://github.com/JohnMunsch/PaperQuik">https://github.com/JohnMunsch/PaperQuik</a>
      </p>

      <p>
        Please feel free to make changes and updates and let me know about them so I can upgrade the site with your
        improvements! Contact me with your questions, concerns, or data corrections:
        <a href="mailto:john.munsch+cad@gmail.com">john.munsch@gmail.com</a>
      </p>

      <h2>FAQ</h2>

      <strong>Why <em>another</em> graph paper web site?</strong>
      <p>Because almost all of the sites I went to were nothing more than a collection of PDF files for download. Some of
        them printed out OK, many didn't, and I usually couldn't do any customization of the page. Originally I wanted
        Cornell Note-taking System paper with a dot grid in the largest area on the page but I couldn't find any site
        with that available. So I've built what I think is a much better site than all the others.</p>

      <strong>May I put the paper on my website?</strong>
      <p>You're welcome to put links to my paper pages on your own site. I made sure the URLs will work if you want
        to link to the main page, a particular size of paper, or even a particular size and layout. But you can't download
        the images of pages or make PDF files from my pages and post them on your own site.</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="leaderboardAd">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- PaperQuik Leaderboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8376642740439271"
             data-ad-slot="6535942993"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>

  <footer>
    <p>© 2014 John Munsch</p>
  </footer>
</div><!-- /.container -->
